p {
    font-family: Verdana;
    font-size: small;
}

tr:nth-child(even){
    background-color: lightgray;
}

tr {
/* outline: thin solid;*/
}

table { border-collapse:collapse }

th, td{
    padding: 20px;
}

.container-fluid {
    padding-left: 150px;
    padding-right: 150px;
}

#UserList {
    display:inline-block;
    float: left;
}

#FriendsList {
    display:inline-block;
    padding-left: 15%;
    position: absolute;
}