@model IEnumerable<DataLayer.Friends>
@using DataLayer

@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>

@if (Model == null)
{
    <p>
        You don't have any friends yet, search for a user and add them!
    </p>
    <p>
        List of Users in the system:
    </p>

    <table>
        <tr>
            <th>Username</th>
            <th></th>
        </tr>

        @{
            GameContext gc = new GameContext();
            var users = gc.Users.ToArray();

            for (int i = 0; i < users.Length; i++)
            {
                <tr>
                    <th>@users[i].UserName</th>
                    <th><input type="button" value="Add Friend" name="AddFriend"/></th>
                </tr>
            }
        }
    </table>

    // TODO: Remove list of Users and add search bar to search for Users to add
}
else
{
    <table>
        <tr>
            <th>Username</th>
            <th>Invite To Game</th>
            <th>Delete Friend</th> 
        </tr>
    </table>

    // TODO: Display all of currently logged in user's friends
}
