@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Property Game</h1>
    <p class="lead">An online multiplayer game inspired by Monopoly.</p>
    <img src="~/Content/screenshot.png" width="200px" height="200px" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Game Feed</h2>
        <p>
            The game feed shows your currently active and past five completed games.
        </p>
    </div>
    <div class="col-md-4">
        <h2>MatchMaking</h2>
        <p>The matchmaking screen allows you to create a game as well as join other games in your skill range.</p>
     </div>
    <div class="col-md-4">
        <h2>Ranking</h2>
        <p>The ranking page allows you to view the best players of all time or just who's been hot lately.</p>
    </div>
 </div>
<div class="row">
    <div class="col-md-4">
        <h2>History</h2>
        <p>The history pages shows a user's badges as well as all of their completed game info.</p>
     </div>
    <div class="col-md-4">
        <h2>Friends</h2>
        <p>The friends page allows you to add users to your friends list so that you can invite them to games.</p>
    </div>
</div>