
@{
    ViewBag.Title = "Not Authorized";
}

<h2>Not Authorized</h2>

<p>
    You are not authorized to view this page. Please @Html.ActionLink("login", "Login", "Account") or @Html.ActionLink("register", "Register", "Account") for a new account.
</p>

