@model List<DataLayer.User>

@{
    ViewBag.Title = "Ranking";
}

<h2>Ranking</h2>

@using (Html.BeginForm("Ranking", "Home", FormMethod.Get))
{
    @Html.DropDownList("display")

    <input type="submit" value="Submit" />
}

@if (Model == null || Model.Count == 0)
{
    <p>
        No ranking information to display.
    </p>
}

else
{
    <table width="600">
        <tr>
            <th>Ranking</th>
            <th>Player</th>
            <th>Points</th>
        </tr>

        @{
            int? lastPoints = null;
            int rank = 1;
        }

        @for (int i = 0; i < Model.Count; ++i)
        {
            var u = Model[i];
            string color = u.UserName == User.Identity.Name ? "lawngreen" : "";

            if (lastPoints != null && lastPoints != Model[i].SkillPoints)
            { ++rank; }

            <tr style="background-color:@color">
                <td>@rank</td>
                <td>@u.UserName</td>
                <td>@u.SkillPoints</td>
            </tr>

            lastPoints = u.SkillPoints;


        }
    </table>
                }