@model List<DataLayer.PointsEarned>

@{
    ViewBag.Title = "Ranking";
}

<h2>Ranking</h2>

@if (Model == null || Model.Count == 0)
{
    <p>
        No ranking information to display.
    </p>
}

else
{

    <table>
        <tr>
            <th>Ranking</th>
            <th>Player</th>
            <th>Points</th>
        </tr>

        @for (int i = 0; i < Model.Count; ++i)
        {
            var pe = Model[i];

            <tr>
                <td>@(i + 1)</td>
                <td>@pe.User.UserName</td>
                <td>@pe.Points</td>
            </tr>

        }
    </table>
}