
@{
    ViewBag.Title = "RegistrationComplete";
}

<h2>Registration Complete!</h2>

<p>
    Your registration is complete!

    <br />

    Thank you for signing up to play. Click @Html.ActionLink("here", "Index") to return to our homepage and get gaming!
</p>

