
@{
    ViewBag.Title = "Game";
}

<style>
    .table tbody>tr>td{
    vertical-align: middle !important;
}
</style>
    
   <div class="row" style="margin-top:50px;">

       <div class="col-md-8 table-responsive">

           <table class="table" border="1" cellspacing="0" cellpadding="3" style="text-align:center;font:normal 8pt/9pt arial;border-collapse:separate; background-color:#F0FFF0;">
               <tr>
                   <td style="height:60px;">
                       Free Parking
                       <div style="width:60px;height:0px;"></div>
                   </td>
                   <td style="border-bottom:solid 12px Red">
                       Kentucky Avenue<br />
                       $220
                   </td>
                   <td style="">Chance</td>
                   <td style="border-bottom:solid 12px Red">
                       Indiana Avenue<br />
                       $220
                   </td>
                   <td style="border-bottom:solid 12px Red">
                       Illinois Avenue<br />
                       $240
                   </td>
                   <td style="">
                       B&amp;O Railroad<br />
                       $200
                   </td>
                   <td style="border-bottom:solid 12px Yellow">
                       Atlantic Avenue<br />
                       $260
                   </td>
                   <td style="border-bottom:solid 12px Yellow">
                       Ventnor Avenue<br />
                       $260
                   </td>
                   <td style="">
                       Water Works<br />
                       $150
                   </td>
                   <td style="border-bottom:solid 12px Yellow">
                       Marvin Gardens<br />
                       $280
                   </td>
                   <td>
                       Go To Jail
                       <div style="width:60px;height:0px;"></div>
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;border-right:solid 12px Orange">
                       New York Avenue<br />
                       $200
                   </td>
                   <td border="1" rowspan="9" colspan="9" align="center" class="nothing" style="background-color: lightsteelblue;">
                       <table cellpadding="0" cellspacing="2" >
                           <tr style="border:solid 2px #ff0000;">
                               <td style="padding: 0px;">
                                   <div style="background-color:#ff0000;color:#ffffff;font:normal 22px verdana,arial;letter-spacing:+5px;padding:6px 12px 6px 12px;">
                                       PROPERTY TYCOON
                                   </div>
                               </td>
                           </tr>
                           <tr style="border:solid 2px black;">
                               <td style="height: 200px;">
                                   
                                   <div class="row">
                                       <div class="col-md-4">
                                           <button type="button" id="btn_roll" class="btn btn-success">Roll Dice!</button>
                                       </div>
                                       <div class="col-md-4" id='dice1'></div>
                                       <div class="col-md-4" id='dice2'></div>
                                   </div>
                                   
                               </td>
                           </tr>
                       </table>
                   </td>
                   <td style="border-left:solid 12px Green">
                       Pacific Avenue<br />
                       $300
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;border-right:solid 12px Orange">
                       Tennessee Avenue<br />
                       $180
                   </td>
                   <td style="border-left:solid 12px Green">
                       North Carolina Avenue<br />
                       $300
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;">Community Chest</td>
                   <td style="">Community Chest</td>
               </tr>
               <tr>
                   <td style="height:34px;border-right:solid 12px Orange">
                       St. James Place<br />
                       $180
                   </td>
                   <td style="border-left:solid 12px Green">
                       Pennsylvania Avenue<br />
                       $320
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;">
                       Pennsylvania Railroad<br />
                       $200
                   </td>
                   <td style="">
                       Short Line<br />
                       $200
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;border-right:solid 12px DarkOrchid">
                       Virginia Avenue<br />
                       $160
                   </td>
                   <td style="">Chance</td>
               </tr>
               <tr>
                   <td style="height:34px;border-right:solid 12px DarkOrchid">
                       States Avenue<br />
                       $140
                   </td>
                   <td style="border-left:solid 12px Blue">
                       Park Place<br />
                       $350
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;">
                       Electric Company<br />
                       $150
                   </td>
                   <td style="">
                       Luxury Tax<br />
                       (pay $100)
                   </td>
               </tr>
               <tr>
                   <td style="height:34px;border-right:solid 12px DarkOrchid">
                       St. Charles Place<br />
                       $140
                   </td>
                   <td style="border-left:solid 12px Blue">
                       Boardwalk<br />
                       $400
                   </td>
               </tr>
               <tr>
                   <td style="height:60px;">In Jail/Just Visiting</td>
                   <td style="border-top:solid 12px SkyBlue">
                       Connecticut Avenue<br />
                       $120
                   </td>
                   <td style="border-top:solid 12px SkyBlue">
                       Vermont Avenue<br />
                       $100
                   </td>
                   <td style="">Chance</td>
                   <td style="border-top:solid 12px SkyBlue">
                       Oriental Avenue<br />
                       $100
                   </td>
                   <td style="">
                       Reading Railroad<br />
                       $200
                   </td>
                   <td style="">
                       Income Tax<br />
                       (pay $200)
                   </td>
                   <td style="border-top:solid 12px SaddleBrown">
                       Baltic Avenue<br />
                       $60
                   </td>
                   <td style="">Community Chest</td>
                   <td style="border-top:solid 12px SaddleBrown">
                       Mediter-ranean Avenue<br />
                       $60
                   </td>
                   <td>
                       <b>Go</b><br />
                       (collect $200)<br />
                       <a href="/wiki/File:Monopoly_Go_Arrow.png" class="image"><img alt="Monopoly Go Arrow.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/96/Monopoly_Go_Arrow.png/44px-Monopoly_Go_Arrow.png" width="44" height="8" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/96/Monopoly_Go_Arrow.png/66px-Monopoly_Go_Arrow.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/96/Monopoly_Go_Arrow.png/88px-Monopoly_Go_Arrow.png 2x" data-file-width="793" data-file-height="151" /></a>
                   </td>
               </tr>
           </table>

       </div>
       <div class="col-md-4">

           <!-- Player Information -->
           <h3>Players</h3>
           <div class="row">
               <div class="col-md-6 ">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h3 class="panel-title">Player 1</h3>
                       </div>
                       <div class="panel-body">
                           <div>Current Balance: $ 5000</div>
                           <div># Houses: 2</div>
                           <div># Hotels: 3</div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 ">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h3 class="panel-title">Player 2</h3>
                       </div>
                       <div class="panel-body">
                           <div>Current Balance: $ 5000</div>
                           <div># Houses: 2</div>
                           <div># Hotels: 3</div>
                       </div>
                   </div>
               </div>
           </div>
           
           <div class="row">
               <div class="col-md-6 ">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h3 class="panel-title">Player 3</h3>
                       </div>
                       <div class="panel-body">
                           <div>Current Balance: $ 5000</div>
                           <div># Houses: 2</div>
                           <div># Hotels: 3</div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 ">
                   <div class="panel panel-success">
                       <div class="panel-heading">
                           <h3 class="panel-title">Player 4</h3>
                       </div>
                       <div class="panel-body">
                           <div>Current Balance: $ 2500</div>
                           <div># Houses: 2</div>
                           <div># Hotels: 3</div>
                       </div>
                   </div>
               </div>
           </div>

           

           <h3>Moves List</h3>
           <ul class="list-group">
               <li class="list-group-item">Cras justo odio</li>
               <li class="list-group-item">Dapibus ac facilisis in</li>
               <li class="list-group-item">Morbi leo risus</li>
               <li class="list-group-item">Porta ac consectetur ac</li>
               <li class="list-group-item">Vestibulum at eros</li>
           </ul>
       </div>
   </div>

<script type="text/javascript">
    var diceImageUrl = '@Url.Content("~/Content/dice.png")';
</script>

<script src="~/Scripts/jquery.dice.js"></script>

<script>
$(function(){

    function diceRolled(event) {
        console.log(event);
    }

    $("#dice1").dice();
    $("#dice2").dice();

    $("#btn_roll").click(function () {
        $("#dice1").dice("roll", diceRolled);
        $("#dice2").dice("roll", diceRolled);
    });

});
</script>
